body {
    background: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    text-align: center;
    font-size: 40px;
    background: white;
    padding: 10px;
    margin: 20px 50px;
    box-shadow: 10px 10px 5px grey;
    border-radius: 20px;
}

.box-1, .img-box{
    background: white;
    box-shadow: 10px 10px 5px grey;
    border-radius: 20px;
    padding: 20px;
}

.box-1{
    margin: 20px 50px;
}

.img-box{
    width: 320px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
}

.content1, .content2, .content3{
    display:block;
    background: #317ae6;
    border: none;
    width: 25vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.content1{
    padding: 5px 10px;
    min-width: 146px;
}

.content2{
    min-width: 166px;
}
.content3{
    margin-left: 50px;
    padding: 5px 10px;
}

.img-box{
    width: 300px;
    height: 300px;
    margin-left: auto;
}

.text{
    text-align: center;
    color:white;
    font-weight: bold;
    
}

.text.style1{
    font-size: 30px;
}

.text.style2{
    font-size: 20px;
}

text.style3{
    font-size: 25px;
}